<ion-header>
  <ion-toolbar style="--background: #012c56">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: lightgray"></ion-title>
    <!-- Boton opciones -->
    <ion-buttons slot="end" (click)="setOpen(true)">
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: white">
  <div *ngIf="showRealScreen;then content else other_content"></div>
  <ng-template #content>
    <h1 class="ion-text-center">Bienvenido {{username}}</h1>
  </ng-template>
  <ng-template #otherContent>other_content</ng-template>
  <!-- <div id="map"></div> -->
</ion-content>
