<ion-header>
  <ion-toolbar style="--background: #012c56">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: lightgray"></ion-title>
    <!-- Boton opciones -->
    <ion-buttons slot="end" (click)="setOpen(true)">
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: white">
  <div id="Container">
    <h1 class="ion-text-center">Viajes</h1>
    <ul>
      <li *ngFor="let viaje of viajesADesplegar">
        <div><ion-text> {{ viaje.title }} </ion-text></div>
        <div><ion-text> {{ viaje.patente }} </ion-text></div>
        <div><ion-text> {{ viaje.pasajeros }} </ion-text></div>
      </li>
    </ul>
  </div>
</ion-content>
