<!-- Header -->
<ion-header>
  <!-- Barra superior -->
  <ion-toolbar style="--background: #012c56">
    <!--  Volver -->
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="warning"
      ></ion-back-button>
    </ion-buttons>

    <!-- Texto en medio -->
    <ion-title class="ion-text-center" style="color: lightgray"></ion-title>

    <!-- Boton opciones -->
    <ion-buttons slot="end" (click)="setOpen(true)">
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido -->
<ion-content style="--background: white">
  <div id="Container">
    <!-- Formulario -->
    <form [formGroup]="form_inputs" (ngSubmit)="cargarViaje()">
      <!-- Input del formulario:  -->
      <ion-item style="--background: #012c56" class="ion-margin-bottom">
        <ion-input
          type="text"
          placeholder="Patente: "
          formControlName="patente"
        ></ion-input>
      </ion-item>
      <!-- Input del formulario: Pa -->
      <ion-item style="--background: #012c56" class="ion-margin-bottom">
        <ion-input
          type="text"
          placeholder="Hora de Salida "
          formControlName="hora_de_salida"
        ></ion-input>
      </ion-item>
      <!-- Input del formulario -->
      <ion-item style="--background: #012c56" class="ion-margin-bottom">
        <ion-input
          type="number"
          placeholder="Pasajeros: "
          formControlName="pasajeros"
        ></ion-input>
      </ion-item>
      <!-- Botones del formulario -->
      <div class="FilaDeBotones">
        <ion-button (click)="volver()" color="warning">Volver</ion-button>
        <ion-button color="warning" type="submit">Siguiente</ion-button>
      </div>
    </form>
  </div>
</ion-content>
