<ion-header>
  <ion-toolbar style="--background: #012c56">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="warning"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: lightgray"
      >Registrarse como conductor</ion-title
    >
    <!-- <ion-button id="open-modal" expand="block">Open</ion-button> -->
    <ion-buttons slot="end">
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: white">
  <div id="Container">
    <form [formGroup]="form_inputs" (ngSubmit)="login()">
      <!-- Contenedor del formulario -->
      <div *ngIf="esConductor;then content else other_content"></div>
      <ng-template #content>
        <!-- Input del formulario -->
        <ion-item style="--background: #012c56" class="ion-margin-bottom">
          <ion-input
            type="text"
            placeholder="Tipo Vehiculo: "
            formControlName="tipo_vehiculo"
          ></ion-input>
        </ion-item>
        <!-- Input del formulario -->
        <ion-item style="--background: #012c56" class="ion-margin-bottom">
          <ion-input
            type="text"
            placeholder="Patente: "
            formControlName="patente"
          ></ion-input>
        </ion-item>
        <!-- Input del formulario -->
        <ion-item style="--background: #012c56" class="ion-margin-bottom">
          <ion-input
            type="number"
            placeholder="Pasajeros: "
            formControlName="pasajeros"
          ></ion-input>
        </ion-item>
        <!-- Botones del formulario -->
        <div class="FilaDeBotones">
          <ion-button (click)="volver()" color="warning">Volver</ion-button>
          <ion-button
            id="BotonCambiar"
            color="warning"
            (click)="agregar_usuario_como_conductor()"
            ><ion-text> Pasar a conductor </ion-text></ion-button
          >
        </div>
      </ng-template>
      <ng-template #other_content> <div></div></ng-template>
    </form>
  </div>
</ion-content>
