<ion-header> </ion-header>

<ion-content>
  <div id="Container">
    <form id="LoginForm" (ngSubmit)="login()" [formGroup]="credentials">
      <img src="../../../assets/logo-duoc.svg" />
      <div style="margin-bottom: 10%">
        <h2 id="FormTitle">¡TeLlevoApp!</h2>
      </div>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
        <ion-note
          slot="error"
          *ngIf="(email.dirty || email.touched) && email.errors"
          >Email is invalid</ion-note
        >
      </ion-item>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
        <ion-note
          slot="error"
          *ngIf="(password.dirty || password.touched) && password.errors"
          >Password needs to be 6 characters</ion-note
        >
      </ion-item>

      <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
        >Log in</ion-button
      >
      <ion-button
        type="button"
        expand="block"
        color="secondary"
        (click)="register()"
        >Create account</ion-button
      >
    </form>
  </div>
</ion-content>
