#Container {
  height: 100%;
  background-image: linear-gradient(
    #00001a,
    #000040,
    #00004d,
    #00005a,
    #eeca06,
    yellow
  );
}
#LoginForm {
  padding: 40% 30px;
}
#FormTitle {
  text-align: center;
}
