<ion-app class="AppContainer">
  <ion-router-outlet id="main"></ion-router-outlet>

  <!-- tabs -->
  <ion-tabs *ngIf="showTabs">
    <ion-tab-bar
      slot="bottom"
      style="border-radius: 5px; --background: #012c56"
    >
      <!-- <ion-tab-button (click)="setOpen(true)"> -->
      <ion-tab-button tab="alert">
        <ion-icon name="car-sport" color="warning"></ion-icon>
        <ion-label color="warning">Iniciar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="card">
        <ion-icon name="chatbubbles" color="warning"></ion-icon>
        <ion-label color="warning">Chat</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- Modal -->
  <!-- Variables de modal -->
  <ion-modal
    id="PerfilModal"
    [isOpen]="isModalOpen"
    backdrop-breakpoint="1"
    backdrop-dismiss="true"
    class="ion-padding"
    #modal
    trigger="open-modal"
    [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation"
  >
    <!-- Layout Modal -->
    <ng-template>
      <ion-header>
        <ion-toolbar style="--background: #012c56">
          <ion-buttons slot="start">
            <ion-button color="warning" (click)="setOpen(false)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <img src="../assets/logo-duoc.svg" />
          <ion-buttons slot="end">
            <ion-button color="warning" (click)="logout()">
              <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content style="--background: lightgray"> </ion-content>
    </ng-template>
  </ion-modal>

  <!-- hamburger menu -->
  <ion-menu class="TopBar" contentId="main" menuId="first" side="start">
    <ion-content style="--background: #012c56">
      <ion-header>
        <ion-toolbar class="Toolbar">
          <ion-title class="ion-text-center" color="warning"
            >Futuras funcionalidades</ion-title
          >
        </ion-toolbar>
      </ion-header>
      <ion-list class="ion-no-padding">
        <!-- detail="true"  AGREGA EL BOTON flecha derecha a los items en sidebarmenu-->
        <ion-menu-toggle *ngFor="let c of componentes">
          <ion-item
            detail="true"
            [routerLink]="c.redirecTo"
            style="--background: #012c56"
          >
            <ion-icon slot="start" [name]="c.icon" color="warning"></ion-icon>
            <ion-text color="warning">
              {{ c.name }}
            </ion-text>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>
